@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
body{
    font-family: 'Sniglet', cursive !important;
    line-height: 1 !important;
}
.img-apresentation img{
    height: auto;
}
.navtitle{
    display: flex;
}
.nav-link.borda.fixado{
    width: auto !important;
}
.borda.btn.btn-primary.margin, .borda.btn.btn-primary, {
width: 160px !important;
height: 35px;;
}
.bar {
	padding-right: 10vh;
	padding-left: 10vh;
	position: relative;
	opacity: 0.1;
	font-size: 10vh;
}
.borda.btn.btn-primary {
    width: 139px;
}
.fa {
	font-size: 2.5rem !important;
    color: #dc6465;
    padding: 5px;
}
.img-pets img{
    height: 300px;
}

.navbar.navbar-expand-lg {
    background-color: #dc6465 !important ;
}

.logo.navbar-logo{
    width: 100px;
}
footer{
    background-color: #dc6465 !important;
}
.navbar{
    padding: 0;
}
.indent{
    width: 80%;
    display:flex;
    margin: 0 auto;
}

.indent-second{
    display:flex;
    justify-content: end !important;
    width: 100%;
    align-items: center;
}
.navbar-nav .nav-link {
	padding-right: 25px !important;
	padding-left: 25px !important;
    text-align: center;
    color: white;
}
.registrar-form{
    margin: 25px 0;
}

.borda{
    border-radius: 51px 51px 51px 51px !important;
    -webkit-border-radius: 51px 51px 51px 51px;
    -moz-border-radius: 51px 51px 51px 51px;
    border: 1px solid white !important;
    background-color: #dc6465 !important;
    padding: 1px;
}
.botoes-ininiais {
    display: flex;
}
.nav-link.borda {
    width: 140px;
}
.borda:hover{
    background-color: #e63d3d !important;
    
}
fieldset{
    margin: 25px 0 !important;
}
.fa:hover{
    color:  #e63d3d;
}
.container-fluid{
    margin: 30px 0
}
.borda-rosa{
    border: 1px solid#e4545470 !important;
}
.radius-border{
    border-radius: 15px 15px 15px 15px !important;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;

}

@media screen and (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        color: white;
    }
    .navbar-expand-lg .navbar-nav .nav-link:hover{
        font-weight: 700;
        color: #000000;
    }
    
}

@media screen and (max-width: 992px){
    .icon-toggle{
        width: 45px;
        color: white;
    }
    .navbar-collapse.collapse.show {
        position: absolute;
        width: 40%;
        margin: 0 auto;
        left: 30%;
        background-color: #dc6465;
        z-index: 99;
    }
    .indent{
        width: 98%;
        font-size: 1rem;
    }
    .bar{
        font-size: 5rem;
    }
}
@media screen and (max-width: 400px){
    .navbar-collapse.collapse.show {
        font-size: 1.8rem;
        width: 79%;
        left: 21%;
    }
    .bar{
        display: block;
        padding-left: 5px; ;
        padding-right: 5px; ;
    }
    .indent, .indent-second.justify-content-end{
        width: 91%;
    }
    .borda.btn.btn-primary {
        width: 139px;
    }

}
